@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-light1: #d6ebf5;
  --color-light2: #add8eb;
  --color-light3: #84c4e1;
  --color-dark1: #364876;
  --color-dark2: #263353;
  --color-dark3: #161d30;
  --color-dark4: #161d30;
  --color-dark5: #0f131f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
